.up {
	background-color:#ffec64;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 18px;
	text-decoration:none;
}
.up:hover {
	background-color:#ffab23;
}
.up:active {
	position:relative;
	top:1px;
}

.down {
	background-color:#fc8d83;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 21px;
	text-decoration:none;
}
.down:hover {
	background-color:#ff4e50;
}
.down:active {
	position:relative;
	top:1px;
}


.auto {
	background-color:#20e0e5;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	display:inline-block;
	text-align:center;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 21px;
	text-decoration:none;
}
.auto:hover {
	background-color:#32EAB9;
}
.auto:active {
	position:relative;
	top:1px;
}
body {
    background-color:white;
}
td 
{
	width: 15px;
	height: 15px;
}
.button
{
	color: white;
	padding:13px 21px;
	background-color:#1594ce;
	font-family:Arial;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
}
h1{
  font-weight:100;
  color: black;
  text-decoration: none;
}
.button1
{
	color: white;
	padding:13px 21px;
	background-color:#8855dd;
	font-family:Arial;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
}
.button2
{
	color: white;
	padding:13px 21px;
	background-color:#80d04b;
	font-family:Arial;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
}
.button3
{
	color: white;
	padding:13px 21px;
	background-color:#ff7373;
	font-family:Arial;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
}
.button4
{
	color: white;
	padding:13px 21px;
	background-color:#15b89a;
	font-family:Arial;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
}
#song 
{
	font-size:20px;
}
